<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon"></span>Drop Down Control
          Menu<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li onclick="ajaxRequest('/nyt')"><a href="#">Pull latest from NYTimes</a></li>
          <li><a href="/gnews">Pull latest from Google News</a></li>
          <li><a href="/bing">Pull latest from Bing News</a></li>
          <li class="divider"></li>
          <li><a href="/sumbot">Analyze news for sincerity with Summarize_B0t</a></li>
          <li><a href="/sumbot">Analyze news for deception with Summarize_B0t</a></li>
          <li><a href="/sumbot">Analyze news for topics with Summarize_B0t</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="#">Regional Real Time News Tracker<span class="glyphicon glyphicon-minus"></span>RR-TNT</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/track"><span class="glyphicon glyphicon-book"></span>Track the News</a>
      </li>
    </ul>
  </div>
</nav>