<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/header.ejs %>
</head>

 <body>
    <!-- <div class="container"> -->
      <% include ../partials/nav.ejs %>
   <!-- </div> -->
	 <div class="wrapper">
		<div class="box a">Analysis:</div>
		<div class="box b">
         For tracking:
         <ul>
            <li onclick="confirm('coming')">Click soon to initiate</li>
        </ul>
      </div>
      <div class="box c">
         Fox:
         <div id="fox">
            <ul>
               <li onclick="ajaxRequest('/fox')">Click to update</li>
            </ul>
         </div>
      </div>
      <div class="box d">
         NYT:
         <div id="nyt"><ul>
               <% titles.forEach(function(r) { %>
                <li><%= r%></li>
            <% }); %>
            </ul>
         </div>
      </div>
      <div class="box e">
         Google News:
         <div id="googlenews">
            <ul>
                <li onclick="ajaxRequest('/googlenews')">Click to update</li>
            </ul>
         </div>
      </div>

	</div>
</body>
</html>
