<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/header.ejs %>
</head>

 <body>
    <!-- <div class="container"> -->
      <% include ../partials/nav.ejs %>
   <!-- </div> -->
	 <div class="wrapper">
		<div class="box a">Analysis:</div>
		<div class="box b">
         For tracking:
         <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.id %> - <%= r.name %></li>
            <% }); %>
        </ul>
      </div>
		<div class="box c">Google Trends:</div>
      <div class="box d">
         NYT:
         <div><%-news%> </div>
      </div>
	</div>
</body>
</html>
