<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/header.ejs %>
</head>

 <body>
    <!-- <div class="container"> -->
      <% include ../partials/nav.ejs %>
   <!-- </div> -->
	 <div class="wrapper">
		<div class="box a">
         <h4 id="articleTitle">Article: 
            
         </h4>
         <div id="detail">
            <ul>
               <li>Load articles from each news source below. Select a headline to see it's content and analysis.</li>
            </ul>
         </div>
      </div>
		<div class="box b">
         For tracking:
         <ul>
            <% results.forEach(function(r) { %>
               <li><%= r.id %> - <%= r.name %></li>
            <% }); %>
        </ul>
        <div id="aylienAnal">
        </div>
        <div id="analysis">
        </div>
      </div>
      <div class="box c">
         <h4>Fox News:
            <a href="#" onclick="ajaxRequest('/fox')"> 
               <span class="glyphicon glyphicon-refresh right"></span>
            </a>
         </h4>
         <div id="fox">
            <ul>
               <li onclick="ajaxRequest('/fox')">Nothing displayed</li>
            </ul>
         </div>
      </div>
      <div class="box d">
            <h4>NYTimes:
               <a href="#" onclick="ajaxRequest('/nyt')"> 
                  <span class="glyphicon glyphicon-refresh right"></span>
               </a>
            </h4>
         <div id="nyt">
            <div class="noContent">refresh for content</div>
         </div>
      </div>
      <div class="box e">
         <h4>Google News:
            <a href="#" onclick="ajaxRequest('/googlenews')"> 
               <span class="glyphicon glyphicon-refresh right"></span>
            </a>
         </h4>
         <div id="googlenews">
            <ul>
                <li onclick="ajaxRequest('/googlenews')">Click to update</li>
            </ul>
         </div>
      </div>

	</div>
</body>
</html>
