<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Package Calculator</title>
   <meta name="description" content="CS313 Week 9 - Postal Rate Calulator">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="stylesheets/main.css">
   <!--<link rel="stylesheet" href="stylesheets/project1.css">-->
</head>

 <body>

	 <div class="wrapper">
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
	</div>
</body>
</html>
