<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/header.ejs %>
</head>

<body>
   <!-- <div class="container"> -->
   <%- include('../partials/nav.ejs', {results: results}) %>
   <!-- </div> -->
   <div class="wrapper">
      <div class="box a">
         <h4 id="articleTitle">How to use: <a href="javascript:void(0)">

               <span class="glyphicon glyphicon-globe right"></span>
               <span class="glyphicon glyphicon-floppy-disk right padRight"></span>
            </a>

         </h4>
         <div id="detail">
            <ul>
               <li>1. Individual news source headlines may be loaded through the <span class="glyphicon standout glyphicon-refresh padLeft"></span> in
                  each source box below or from the <span class="boxHeader">Control Menu</span> above .</li>
               <li>2. ALL news sources may be loaded at once through the <span class="boxHeader">Control Menu</span> above by selecting <a href="javascript:void(0)"
                     onclick="ajaxPullAll()">&ldquo;Pull latest from ALL sources.&rdquo;</a></li>
               <li>3. Selecting a headline below will replace this content with an article, and a <span class="standout">sentiment analysis</span>  
                  will load in the <span class="boxHeader">Analysis</span> box to the right.</li>
               <li>4. Use the <span class="glyphicon standout glyphicon-search padLeft"></span><span class="boxHeader">Search</span> box to load results from ALL news sources</li>
               <li>5. Loading articles and searching will attempt to show a <span class="standout">graph</span> of the relative popularity of that or related terms over the last 36 hours.</li>
               <li>6. <span class="glyphicon standout glyphicon-floppy-disk padLeft"></span> saves an article to the <span class="boxHeader">Saved Articles</span> menu above. Selecting a saved article from the menu will load it here.</li>
               <li>7. <span class="glyphicon standout glyphicon-globe padLeft"></span> opens a new tab or window with the original article.</li>
               <li>8. <span class="boxHeader">Trending Searches</span> load headlines and popularity graph when clicked</li>
               <li>
                  &nbsp;
               </li>
               <li>. ————————————————————————————————————————————————————— .</li>
               <li class="menu-font center smaller-text padLeft">Clicking <span class="glyphicon standout glyphicon-home padLeft"></span>Real-Time News Tracker reloads the app. To view these instructions again,<br> click
                  the <span class="standout">8) R-TNT</span> logo or select <span class="glyphicon standout glyphicon-info-sign padLeft"></span>Help from above.</li>
               <li>. ————————————————————————————————————————————————————— .</li>
            </ul>

         </div>
      </div>
      <div class="box b">
         <div id="trending">
            <span class="trendingHeader">Trending Searches:</span>
               <div class="tcontainer">
                  <div class="ticker-wrap">
                     <div class="ticker-move" id="trendingContent">
                        <div class="ticker-item">Loading latest trending searches from Google</div>
                        <div class="ticker-item">..................................</div>
                     </div>
                  </div>
               </div>
           </div>   
         <h4>Analysis:</h4>
         <!-- For tracking: -->
         <%if(false) {%>
         <ul>            
            <% results.forEach(function(r) { %>
            <li><%= r.id %> - <%= r.name %></li>
            <% }); %>
        </ul>
        <%}%>
        <div id="aylienAnal">
        </div>
        <div id="analysis">
        </div>
        <div id="related">
         </div>
        <div id="graph">
        </div>
        <div id="credits">
        </div>
      </div>
      <div class="box c">
         <h4>Fox News:
            <a href="javascript:void(0)" onclick="ajaxRequest('/fox')"> 
               <span class="glyphicon glyphicon-refresh right"></span>
            </a>
         </h4>
         <div id="fox">
               <div class="noContent">use <span class="glyphicon glyphicon-refresh"></span> for content</div>
         </div>
      </div>
      <div class="box d">
            <h4>NYTimes:
               <a href="javascript:void(0)" onclick="ajaxRequest('/nyt')"> 
                  <span class="glyphicon glyphicon-refresh right"></span>
               </a>
            </h4>
         <div id="nyt">
            <div class="noContent">use <span class="glyphicon glyphicon-refresh"></span> for content</div>
         </div>
      </div>
      <div class="box e">
         <h4>Google News:
            <a href="javascript:void(0)" onclick="ajaxRequest('/googlenews')"> 
               <span class="glyphicon glyphicon-refresh right"></span>
            </a>
         </h4>
         <div id="googlenews">
               <div class="noContent">use <span class="glyphicon glyphicon-refresh"></span> for content</div>
         </div>
      </div>

	</div>
</body>
</html>